* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- Baseline Elements --*/
body{ 
  font-family: "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background: #ffffff;
}

.wrapper{
  padding: 1%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

li{
  margin-left: 0.4%;
  float: left;
}

li img{
  max-width: 100%;
}

/* -- Footer -- */
.footer{
  background: #3F51B5;
  text-align: center;
  color: #fff;
  margin: 0 1.4%;
  clear: left;
  margin-bottom: 1%;
  padding: 1%;
}

